name: CI Python

on:
  workflow_call:

jobs:
  python-ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Python CI placeholder
        run: |
          echo "CI Python executado com sucesso"
